<!-- Modal Header -->
<div class="modal-header">
  <!-- Modal Title -->
  <h5 class="modal-title">View Task</h5>
  <!-- Close Button -->
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button></div>
  <!-- Modal Body -->
<div class="modal-body">
  <div class="form-group">
  <!-- Form Group for Title -->
    <label for="title">Title:</label>
    <!-- Disabled Input field for Title -->
    <input [(ngModel)]="selectedTask.title" id="title" class="form-control">
  </div>
<!-- Form Group for Description -->
  <div class="form-group">
    <label for="description">Description:</label>
    <!-- Disabled Textarea for Description -->
    <textarea [(ngModel)]="selectedTask.description" id="description" class="form-control" rows="3"></textarea>
  </div>
<!-- Form Group for Due Date -->
  <div class="form-group">
    <label for="dueDate">Due Date:</label>
    <!-- Disabled Input field for Due Date -->
    <input [(ngModel)]="selectedTask.dueDate" type="date" id="dueDate" class="form-control">
  </div>
<!-- Form Group for Priority -->
  <div class="form-group">
    <label for="priority">Priority:</label>
    <!-- Disabled Input field for Priority -->
    <input [(ngModel)]="selectedTask.priority" id="priority" class="form-control">
  </div>
<!-- Form Group for Status -->
  <div class="form-group">
    <label for="status">Status:</label>
    <!-- Disabled Input field for Status -->
    <input [(ngModel)]="selectedTask.status" id="status" class="form-control">
  </div>
</div>
<!-- Modal Footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
</div>
