<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <!-- Auth Form -->
      <div class="auth-form">
        <h2>{{ isSignInMode ? 'Welcome Back!' : 'Welcome to ' }}<span class="task-color">TASK</span><span class="it-color">IT!</span></h2>
        <p>{{ isSignInMode ? 'Lets get to work.' : 'Sign up to get things done.' }}</p>
        <form #authForm="ngForm" (ngSubmit)="onAuthSubmit(authForm)">
          <!-- First Name, Last Name, Email, Password Fields -->
          <div *ngIf="!isSignInMode">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" name="firstName" class="form-control" required ngModel />
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" name="lastName" class="form-control" required ngModel />
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required ngModel />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" minlength="6" required ngModel />
          </div>
          <!-- Sign Up and Log In Buttons -->
          <div class="form-row">
            <div class="col button-container">
              <span *ngIf="!isSignInMode" class="auth-switch-text">Have an account?</span>
              <button class="btn btn-success" type="submit" [disabled]="!authForm.valid">
                {{ isSignInMode ? "Log In" : "Sign Up" }}
              </button>
              <button class="btn btn-secondary" type="button" (click)="toggleAuthMode()">
                {{ isSignInMode ? "Sign Up" : "Log In" }}
              </button>
            </div>
          </div>
        </form>
        <p class="alert alert-danger mt-3" *ngIf="errorMsg">{{ errorMsg }}</p>
        <p class="alert alert-success mt-3" *ngIf="successMessage">{{ successMessage }}</p>
      </div>
    </div>
  </div>
</div>
